fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
chromadb
langchain-chroma
langchain-text-splitters
langchain-mistralai
langchain-openai
langchain-community
beautifulsoup4
html2text
